.carousel-item{
  height: 300px;
}

.carousel-item img{
  margin:0 auto;
}

#sign-in-form{
  background-color: white;
  padding: 16px;
}

.card{
	width:100%;
 text-align: center;
 margin:8px 0;
}

/*@media(min-width:768px){
	.card{
		margin:0 8px;
	}
}*/

.card-text {
 font-weight: 700;
}

p{
  text-align: justify;
}